[Unit]
Description=Gunicorn Flask App
After=network.target

[Service]
User=admin
Group=admin
WorkingDirectory=/home/admin/log_support
Environment="PATH=/home/admin/log_support/env/bin"
ExecStart=/home/admin/log_support/env/bin/gunicorn --workers 3 --bind 0.0.0.0:5000 wsgi:app

Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
